{% extends 'base.html' %}
{% load static %}
{% block title %}Bookland - Searched Results {% endblock %}

{% load widget_tweaks %}
{% block content %}

<div class="details">
  <h1> Choose Category </h1>
  <p>Home - Upload your book</p>
</div>
<div class="hello">

  <form method="POST">
    {% csrf_token %}
    <select name="cats">
      {% for category in categories %}
      <option value="{{ category }}">{{ category }}</option>
      {% endfor %}
    </select>
    <button>Next</button>
  </form>


</div>

{% endblock %}